.clock {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2); */
  font-size: 24px;
  /* color: #444; */
  text-align: center;
}

.clock::after {
  background: transparent;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hour_hand {
  position: absolute;
  width: 6px;
  height: 60px;
  background: #fff;
  top: 30%;
  left: 49%;
  transform-origin: bottom;
}

.min_hand {
  position: absolute;
  width: 4px;
  height: 80px;
  background: #fff;
  top: 22.5%;
  left: 49%;
  transform-origin: bottom;
}

.sec_hand {
  position: absolute;
  width: 2px;
  height: 118px;
  background: #fff;
  top: 10.5%;
  left: 50%;
  transform-origin: bottom;
}

.clock span {
  position: absolute;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

.twelve {
  top: 10px;
  left: 50%;
}

.one {
  top: 10%;
  right: 26%;
  transform: rotate(30deg)
}

.eleven {
  top: 10%;
  left: 26%;
  transform: rotate(-30deg);
}

.two {
  top: 25%;
  right: 10%;
  transform: rotate(50deg);
}

.three {
  right: 10px;
  top: 46%;
  transform: rotate(90deg);
}

.four {
  right: 30px;
  top: 67%;
  transform: rotate(-50deg);
}

.five {
  right: 78px;
  top: 80%;
  transform: rotate(-30deg);
}

.six {
  bottom: 10px;
  left: 50%;
}

.seven {
  left: 80px;
  top: 82%;
  transform: rotate(30deg);
}

.eight {
  left: 30px;
  top: 67%;
  transform: rotate(50deg);
}

.nine {
  left: 10px;
  top: 46%;
  transform: rotate(90deg);
}

.ten {
  top: 25%;
  left: 10%;
  transform: rotate(-50deg);
}

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve {
  color: #fff
}